[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An app that manages a user's recipes and shopping implemented using Angular and connection with a Firebase database.
[access "refs/*"]
	owner = group user/Vadim Tuchila (VadimT7)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vadim Tuchila (VadimT7)
	label-Verified = -1..+1 group user/Vadim Tuchila (VadimT7)
	push = group user/Vadim Tuchila (VadimT7)
	read = group user/Vadim Tuchila (VadimT7)
	rebase = group user/Vadim Tuchila (VadimT7)
	removeReviewer = group user/Vadim Tuchila (VadimT7)
	submit = group user/Vadim Tuchila (VadimT7)
[access "refs/heads/*"]
	create = group user/Vadim Tuchila (VadimT7)
	push = +force group user/Vadim Tuchila (VadimT7)
	pushMerge = group user/Vadim Tuchila (VadimT7)
	read = group user/Vadim Tuchila (VadimT7)
[access "refs/tags/*"]
	push = group user/Vadim Tuchila (VadimT7)
	push = +force group user/Vadim Tuchila (VadimT7)
